@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+SC:wght@100..900&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
    --color-primary: #003E74;
    --color-grey: #EBEEEE;
}

* {
    font-family: 'PT Sans', 'Noto Sans SC', sans-serif;
}

body {
    margin: 40px;
}

.header {
    display: flex;
    margin: auto;
    justify-content: center;
}

.header h1 {
    margin: 0;
    font-size: 24px;
    margin-left: 0px;
}

.logo {
    width: 100px;
    height: 100px;
}

.logo img {
    width: 100px;
    height: 100px;
}

.header-text {
    margin-left: 20px;
}

.footer {
    text-align: center;
}

.nav a {
    margin-right: 10px;
}

.nav a:last-child {
    margin-right: 0;
}

.content {
    margin: 20px 0;
}

.projects {
    margin-top: 20px;
}

.projects h3 {
    font-size: 20px;
    margin-bottom: 10px;
}

a {
    text-decoration: none;
    color: #000;
}

a:hover {
    color: var(--color-primary);
}

.divider {
}

.fa-brands {
    margin-right: 5px;
    margin-left: 5px;
}
