/* 默认主题样式 */
a {
  text-decoration: none;
  color: #000;
}
a:hover {
  color: var(--color-primary);
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  transition: background-color 0.3s ease-out;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

/* 暗色主题样式 */
[data-theme='dark'] {
  background-color: #141414;
  color: rgba(255, 255, 255, 0.85);
  transition: background-color 0.3s ease;
}

/* 添加暗色主题下的 Divider 样式 */
[data-theme='dark'] .ant-divider {
  border-color: rgba(255, 255, 255, 0.12); /* 灰色分割线 */
}

/* 如果有特殊类型的分割线，也可以单独设置 */
[data-theme='dark'] .ant-divider-horizontal {
  border-color: rgba(255, 255, 255, 0.12);
}

[data-theme='dark'] .ant-divider-vertical {
  border-color: rgba(255, 255, 255, 0.12);
}